@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Poppins", sans-serif;
}

.navbar-brand {
  font-family: var(--font);
  font-weight: 600;
  font-size: 30px !important;
}

.navbar-nav li a {
  font-family: var(--font);
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(29, 29, 29, 0.7);
}

.carousel-caption h2 {
  font-size: 5vw;
  font-weight: 600;
  font-family: var(--font);
}

.popular-courses h2 {
  font-size: 45px;
  font-family: var(--font);
  font-weight: 600;
}

.card-title {
  font-family: var(--font);
  font-weight: 600;
  font-size: 22px;
}

.card-text {
  font-family: var(--font);
  color: #777777;
}

.card-text strong {
  font-weight: 600;
  color: #289bde;
}

.join {
  height: 40%;
  background-color: #289bde;
}

.text h4 {
  font-weight: 600;
  font-family: var(--font);
  font-size: 40px;
  color: white;
}

.text p {
  font-family: var(--font);
  color: white;
}

.register-btn button {
  background-color: white;
  color: #289bde;
}

.students h2,
p {
  font-family: var(--font);
}

.students h2 {
  font-weight: 600;
}

.faq h2 {
  font-family: var(--font);
  font-weight: 600;
}

.accordion-body {
  font-family: var(--font);
}
